<h1>Editando Post</h1>

<%= form_for :artigo, url: artigo_path(@artigo), method: :patch do |f| %>
 
  <% if @artigo.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@artigo.errors.count, "error") %> prohibited
        this artigo from being saved:
      </h2>
      <ul>
        <% @artigo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </p>
 
  <p>
    <%= f.label :texto %><br>
    <%= f.text_area :texto %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Voltar', artigos_path %>