<h1>Artigos</h1>
 <%= link_to 'Novo artigo', new_artigo_path %>
<div id="content-box">
  <% @artigos.each do |artigo| %>
  <div id="title">
     <h2><a href="<%= artigo_path(artigo) %>"><%= artigo.titulo %></a></h2>
  </div>
    <div id="content-blog">
      <p><%= artigo.texto %></p>
      <%= link_to 'Edit', edit_artigo_path(artigo) %>
    </div>
  <% end %>
</div>