<p id="notice"><%= notice %></p>

<p>
  <strong>Comentario:</strong>
  <%= @comentario.comentario %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comentario.body %>
</p>

<p>
  <strong>Artigo:</strong>
  <%= @comentario.artigo %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
